/* changes dimensions of the nav bar */

nav img {
    width: 30%;
}

nav {
    height: 73px;
}

nav a {
    height: 73px;
}


/* makes edits to the footer */

footer {
    clear: both;
    margin: 0;
    padding: .5em;
    color: #black;
    font-variant: small-caps;
    font-size: .813em;
    text-align: center;
    border-top: 1px dotted black;
    font-family: "Verdana";
}

footer a {
    color: black;
}


/* changes the color of the footer */

.page-footer {
    background-color: #4db6ac;
}